<mat-form-field id="filter-lines">
    <input matInput placeholder="Wyszukaj linię" (input)="applyFilter($event)">
  </mat-form-field>
  
  <div id="buttons-container">
    <div *ngFor="let line of filteredLines; trackBy: trackByIndex">
      <h4 *ngIf="line[1].length > 0" id="category">{{ getCategoryName(line[0]) }}</h4>
      <div class="lines-container">
        <button *ngFor="let item of line[1]" class="line-button" mat-stroked-button (click)="navigateToLine(item)">
          {{ item }}
        </button>
      </div>
    </div>
  </div>
  
