@use '../../../mixins.scss' as *;
@use '@angular/material' as mat;

.pole-analysis-type-selection-component {
    @include full-height-component;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    & > header {
        display: flex;
        flex-direction: column;
        padding: 0 16px;

        h2 {
            display: block;
            background-color: var(--sys-primary);
            color: white;
            font-size: 24px;
            line-height: 28px;

            width: fit-content;
            height: fit-content;
            border-radius: 10px;
            padding: 4px 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            mat-icon {
                margin-right: 3px;
            }
        }

        h3 {
            font-size: 20px;
            line-height: 20px;
        }
    }
}

.navigation-buttons {
    @include navigation-buttons;
}

.selection-button {
    background-color: white;
    border: 1px, solid, black;
    border-radius: 15px;
    width: 80%;
    height: 150px;
    &.selected {
        background-color: var(--sys-primary);
        color: white;
    }
}

.selection-header {
    width: 90%;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    background-color: var(--sys-primary);
    color: white;
}