@use '../../../mixins.scss' as *;
@use '@angular/material' as mat;

.pole-selection-component {
    @include full-height-component;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > header {
        display: flex;
        flex-direction: column;
        padding: 0 16px;

        h2 {
            display: block;
            background-color: var(--sys-primary);
            color: white;
            font-size: 24px;
            line-height: 28px;

            width: fit-content;
            height: 36px;
            border-radius: 10px;
            padding: 0 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            mat-icon {
                margin-right: 3px;
            }
        }

        h3 {
            font-size: 20px;
            line-height: 20px;
        }
    }
}

#pole-selection-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 16px;

    max-height: 465px;
    margin-bottom: 7px;
    overflow-y: auto;
}

.stop-line-button {
    height: 35px;
    margin: 6px 0;
    margin-right: 10px;
    padding: 0 12px;
    width: fit-content;

    &.selected {
        background-color: var(--sys-primary);
        --mdc-outlined-button-outline-color: var(--sys-primary);
        color: white;
    }

    --mdc-outlined-button-label-text-color: #4e544a;
    --mdc-outlined-button-outline-color: #4e544a;
}

.navigation-buttons {
    @include navigation-buttons;
}
