<div class="pole-selection-component">
    @if (polesOnStop$ | async; as polesOnStop) {
        @for (pole of polesOnStop; track $index) {
            <button
                class="stop-line-button"
                mat-stroked-button
                (click)="mapService.setSelectedPole(pole)"
                [class.selected]="pole.name === mapService.selectedPole()?.name">
                {{pole.name}}
            </button>
        }
    }
    <div class="navigation-buttons">
        <app-navigation-buttons
            [nextDisabled]="mapService.selectedPole() === null"
            (next)="navigateToPoleAnalysisOptions()"
            (previous)="navigateToLineSelection()">
        </app-navigation-buttons>
    </div>
</div>
