<div class="direction-selection-component">
    @if (firstDirectionData && secondDirectionData) {
        <button
            class="stop-line-button"
            mat-stroked-button
            (click)="selectDirection(firstDirectionData)"
            [class.selected]="firstDirectionData.endStopName === selectedDirectionStopName">
            {{line}} {{firstDirectionData.endStopName}}
        </button>
        <button
            class="stop-line-button"
            mat-stroked-button
            (click)="selectDirection(secondDirectionData)"
            [class.selected]="secondDirectionData.endStopName === selectedDirectionStopName">
            {{line}} {{secondDirectionData.endStopName}}
        </button>
    }
    <div class="navigation-buttons">
        <app-navigation-buttons
            [nextDisabled]="nextButtonDisabled"
            (next)="navigateToLineAnalysisOptions(selectedDirectionStopName)"
            (previous)="navigateToLineSelection()">
        </app-navigation-buttons>
    </div>
</div>
