main {
    width: 33vw;
    position: absolute;
    max-width: 800px;
    left: 20px;
    top: 20px;
    bottom: 20px;
    z-index: 401;
    background-color: white;
    border-radius: 40px;
    box-shadow: 2px 2px 10px #C6C6C6;
    padding: 40px 30px;

    @media (max-width: 1200px) {
        width: 100vw;
        bottom: 0;
        left: 0;
        top: 15vh;
        max-width: none;
        border-radius: 40px 40px 0 0;
        padding: 40px 0;
        box-shadow: 2px 2px 10px rgb(151, 151, 151);

        &::before {
            content: "";
            display: block;
            width: 30%;
            height: 3px;
            background-color: #8d8d8d;
            border-radius: 7px;
            position: absolute;
            top: 15px;
            left: 0;
            transform: translateX(115%);
            z-index: 2;
        }
    }
}
