<div class="direction-selection-component">
    <header>
        <!-- TO DO: get current line category  -->
        <h2><mat-icon>directions_bus</mat-icon>{{ routeLine }}</h2> 
        <h3>Wybierz kierunek</h3>
    </header>

    <div id="direction-selection-buttons">
        @if (directionsData$ | async; as directionData) {
            <button
                class="stop-line-button"
                mat-stroked-button
                (click)="selectDirection(directionData[0])"
                [class.selected]="directionData[0].direction === selectedDirection()">
                {{ routeLine }} {{ directionData[0].endStopName }}
            </button>
    
            <button
                class="stop-line-button"
                mat-stroked-button
                (click)="selectDirection(directionData[1])"
                [class.selected]="directionData[1].direction === selectedDirection()">
                {{ routeLine }} {{ directionData[1].endStopName }}
            </button>
        }
    </div>

    <div class="navigation-buttons">
        <app-navigation-buttons
            [nextDisabled]="selectedDirection() === null"
            (next)="navigateToDirectionAnalysisOptions()"
            (previous)="navigateToLineSelection()">
        </app-navigation-buttons>
    </div>
</div>


