<div class="line-selection-component">
  <mat-form-field id="filter-lines">
    <input matInput placeholder="Wyszukaj linię" (input)="applyFilter($event.target!)">
  </mat-form-field>
  <mat-tab-group>
    <mat-tab label="linie">
      <div class="line-buttons-container">
        @for (category of filteredLines.keys(); track $index) {
          @for (line of filteredLines.get(category); track $index) {
            <button
              class="stop-line-button"
              mat-stroked-button
              [class.selected]="line === selectedLine"
              (click)="selectLine(line)">
              <mat-icon>{{categoryIconsMapping[category]}}</mat-icon>
              {{line}}
            </button>
          }
        }
      </div>
    </mat-tab>
    <mat-tab label="przystanki">
      <div class="stop-buttons-container">
        @for (popularStop of popularStopsNames; track $index) {
          <button class="stop-line-button" mat-stroked-button>{{popularStop.name}}</button>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="navigation-buttons-container">
    <app-navigation-buttons
      [nextDisabled]="nextButtonDisabled"
      (next)="navigateToLine(this.selectedLine)"
      (previous)="navigateToWelcomeScreen()">
    </app-navigation-buttons>
  </div>
</div>

