<div class="lines-on-pole-selection-component">
    @if (selectedPoleFromRoute$ | async; as selectedPole) {
        <header>
            <h2><mat-icon>commit</mat-icon>{{ selectedPole.name }}</h2> 
            <h3>Wybierz linię</h3>
        </header>
        <div id="lines-on-pole-selection-buttons">
            @if (linesOnPole$ | async; as linesOnPole) {
                @for (line of linesOnPole; track $index) {
                    <button
                        class="stop-line-button"
                        mat-stroked-button
                        [class.selected]="line === lineSelection()"
                        (click)="lineSelection.set(line)">
                        <mat-icon>{{ line.icon }}</mat-icon>
                        {{ line.line }} | {{ line.headsign }}
                    </button>
                }
            }
        </div>
    }
    <div class="navigation-buttons">
        <app-navigation-buttons [nextDisabled]="!lineSelection()" (next)="navigateToAnalysisSelection()" (previous)="navigateToPoleAnalysisSelection()"/>
    </div>
</div>