<div class="lines-on-pole-selection-component">
    @if (selectedPoleFromRoute$ | async; as selectedPole) {
        <div class="header" style="display: flex;">
            <h2> {{selectedPole.name}} </h2>
        </div>
        @if (linesOnPole$ | async; as linesOnPole) {
            @for (line of linesOnPole; track $index) {
                <button
                    class="stop-line-button"
                    mat-stroked-button
                    [class.selected]="line === lineSelection()"
                    (click)="lineSelection.set(line)">
                    {{line}}
                </button>
            } 
        }
    }
    <div class="navigation-buttons">
        <app-navigation-buttons [nextDisabled]="!lineSelection()" (next)="navigateToDirectionSelection()" (previous)="navigateToPoleAnalysisSelection()"/>
    </div>
</div>