@use '../../styles/shared-styles.scss' as *;
@use '@angular/material' as mat;

.lines-on-pole-selection-component {
    @extend %full-height-component;
}

.navigation-buttons {
    @extend %navigation-buttons;
}

.stop-line-button {
    &.selected {
        background-color: var(--sys-primary);
        color: white;
    }
}

.selection-header {
    width: 90%;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    background-color: var(--sys-primary);
    color: white;
}