:root,
:host {
    --sys-background: #ffffff;
    --sys-on-background: #73796e;
    --sys-surface: #edf3e6;
    --sys-surface-dim: #d8dbd2;
    --sys-surface-bright: #f7fbf1;
    --sys-surface-container-lowest: #ffffff;
    --sys-surface-container-low: #f2f5eb;
    --sys-surface-container: #ecefe6;
    --sys-surface-container-high: #e6e9e0;
    --sys-surface-container-highest: #e0e4da;
    --sys-on-surface: #32362f;
    --sys-surface-variant: #dfe4d7;
    --sys-on-surface-variant: #32362f;
    --sys-inverse-surface: #2d322b;
    --sys-inverse-on-surface: #ffffff;
    --sys-outline: #73796e;
    --sys-outline-variant: #a7ada1;
    --sys-shadow: #000000;
    --sys-scrim: #000000;
    --sys-surface-tint: #3f6836;
    --sys-primary: #16a813;
    --sys-on-primary: #ffffff;
    --sys-primary-container: #16a813;
    --sys-on-primary-container: #ffffff;
    --sys-inverse-primary: #006e02;
    --sys-secondary: #006e02;
    --sys-on-secondary: #ffffff;
    --sys-secondary-container: #006e02;
    --sys-on-secondary-container: #ffffff;
    --sys-tertiary: #00696f;
    --sys-on-tertiary: #ffffff;
    --sys-tertiary-container: #00696f;
    --sys-on-tertiary-container: #ffffff;
    --sys-error: #FF5449;
    --sys-on-error: #ffffff;
    --sys-error-container: #FF5449;
    --sys-on-error-container: #ffffff;
    --sys-neutral: #a7ada1;
    --sys-neutral-variant: #73796e;
    --sys-primary-fixed: #16a813;
    --sys-primary-fixed-dim: #006e02;
    --sys-on-primary-fixed: #ffffff;
    --sys-on-primary-fixed-variant: #ffffff;
    --sys-secondary-fixed: #006e02;
    --sys-secondary-fixed-dim: #006e02;
    --sys-on-secondary-fixed: #ffffff;
    --sys-on-secondary-fixed-variant: #ffffff;
    --sys-tertiary-fixed: #2BC1CB;
    --sys-tertiary-fixed-dim: #2BC1CB;
    --sys-on-tertiary-fixed: #ffffff;
    --sys-on-tertiary-fixed-variant: #ffffff;
    --sys-inverse-secondary: #a5d396;
    --sys-inverse-tertiary: #80d4db;
    --sys-inverse-error: #FF5449;
    --sys-error-fixed: #FF5449;
    --sys-error-fixed-dim: #FF5449;
    --sys-on-error-fixed: #ffffff;
    --sys-on-error-fixed-variant: #ffffff;
}