<div class="stops-container">
    <h4>Wybór przystanków</h4>
    <div class="stops-select">
        <mat-form-field class="select">
            <mat-label>Przystanek początkowy</mat-label>
            <mat-select [formControl]="panelStart">
                @for (item of stops; track $index) {
                <mat-option [value]="item.name">{{item.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="select">
            <mat-label>Przystanek końcowy</mat-label>
            <mat-select [formControl]="panelEnd">
                @for (item of stops; track $index) {
                <mat-option [value]="item.name">{{item.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
</div>