.stops-select {
    width: 80%;
}

.stops-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.select {
    width: 100%;
}