<div class="line-selection-component">
  <mat-form-field id="filter-lines" class="search-input">
    <mat-icon matPrefix>search</mat-icon>
    <input 
      matInput 
      placeholder="Wyszukaj linię lub przystanek" 
      [formControl]="inputText" 
      type="search">
    </mat-form-field>
  
    <mat-tab-group [selectedIndex]="currentTab()" (selectedIndexChange)="manualTabSelection.set($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon [ngClass]="{ 'selected-tab': currentTab() === 0 }">directions_bus</mat-icon>
          <span [ngClass]="{ 'selected-tab': currentTab() === 0, 'tab-text': true }">Linie autobusowe</span>
        </ng-template>
        <div class="line-buttons-container">
          @if (lines$ | async; as lines) {
            @if (lines.length > 0) {
              @for (line of lines; track $index) {
                <button
                  class="line-button"
                  mat-stroked-button
                  [class.selected]="line === lineSelection()"
                  (click)="lineSelection.set(line); stopSelection.set(null)">
                  <mat-icon>{{line.icon}}</mat-icon>
                  {{line.number}}
                </button>
              }
            }
            @else {
              <div class="error-container">
                {{lines}}
              </div>
            }
          }
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon [ngClass]="{ 'selected-tab': currentTab() === 1 }">commit</mat-icon>
          <span [ngClass]="{ 'selected-tab': currentTab() === 1, 'tab-text': true }">Przystanki</span>
        </ng-template>
        <div class="stop-buttons-container">    
          @if (stops$ | async; as stops) {
            @if(stops.length > 0) {
              @if (inputText.value!.length > 1) { <!-- start showing stops when more than 1 letter is typed because it lags a bit -->
                  @for (stop of stops; track stop.id) {
                    <button
                    class="stop-button"
                    mat-stroked-button
                    [class.selected]="stop.name === stopSelection()?.name"
                    (click)="lineSelection.set(null); stopSelection.set(stop)">
                    {{stop.name}}
                  </button>
                }
              }
              @else {
                <div id="popular-stops-title">
                  <h4>Użyj wyszukiwarki, aby wybrać przystanek,</h4>
                  <h5>lub wybierz z listy najpopularniejszych przystanków</h5>
                </div>
                @for (popularStop of popularStopsNames; track popularStop.id) {
                  <button
                    class="stop-button"
                    mat-stroked-button
                    [class.selected]="popularStop.name === stopSelection()?.name"
                    (click)="lineSelection.set(null); stopSelection.set(popularStop)">
                    {{popularStop.name}}
                  </button>
                }
              }
            }
            @else {
              <div class="error-container">
                {{stops}}
              </div>
            }
          }
        </div>
      </mat-tab>
    </mat-tab-group>
  <div class="navigation-buttons-container">
    <app-navigation-buttons
      [nextDisabled]="!(stopSelection() || lineSelection())"
      (next)="navigateToLineOrStop()"
      (previous)="navigateToWelcomeScreen()">
    </app-navigation-buttons>
  </div>
</div>