<div class="pole-analysis-type-selection-component">
    @if (selectedPoleFromRoute$ | async; as selectedPole) {
        <header>
            <h2><mat-icon>commit</mat-icon>{{ selectedPole.name }}</h2> 
            <h3>Wybierz rodzaj analizy</h3>
        </header>
        <div id="selection-buttons-container">
            <div class="selection-button"
                matRipple
                [matRippleCentered]="true"
                [matRippleDisabled]="false"
                [matRippleUnbounded]="false"
                (click)="selectedAnalysisType.set(enum.RealSchedule)"
                [class.selected]="selectedAnalysisType() === enum.RealSchedule">
                <div class="selection-header">
                    Rzeczywisty rozkład przystanku
                </div>
                Zobacz jak statystycznie wyglądają godziny przejazdów wybranej linii zatrzymującej się na przystanku {{selectedPole.name}}.
            </div>

            <div class="selection-button"
                matRipple
                [matRippleCentered]="true"
                [matRippleDisabled]="false"
                [matRippleUnbounded]="false"
                (click)="selectedAnalysisType.set(enum.Line)"
                [class.selected]="selectedAnalysisType() === enum.Line">
                <div class="selection-header">
                    Analiza linii autobusowej
                </div>
                Wybierz linię przejeżdżającą przez ten przystanek, a następnie rodzaj analizy dla tej linii.
            </div>
        </div>
    }
    <div class="navigation-buttons">
        <app-navigation-buttons
            [nextDisabled]="selectedAnalysisType() === enum.None"
            (next)="selectedAnalysisType() === enum.Line ? navigateToLinesOnPoleSelection() : navigateToRealScheduleSettings()"
            (previous)="navigateToPoleSelection()"/>
    </div>
</div>