#side-menu-container {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}

main {
    position: absolute;
    
    width: 400px;
    margin-left: 30px;
    margin-right: 30px;

    height: 620px;

    z-index: 401;
    background-color: white;
    border-radius: 28px;
    box-shadow: 2px 4px 128px rgba(0, 0, 0, .1);

    overflow: hidden;
}

#loading-indicator {
    height: 10px;
}
