<div class="pole-analysis-type-selection-component">
    @if (selectedDirectionFromRoute$ | async; as selectedDirection) {
        <header>
            @if (lineIcon$ | async; as lineIcon) {
                <h2><mat-icon>{{ lineIcon }}</mat-icon><span>{{ routeLine }}&nbsp;|</span>{{selectedDirection.endStopName}}</h2> 
                <h3>{{selectedComponentHeader()}}</h3>
            }
        </header>
        @switch (selectedComponentName()) {
            @case (ChildComponents.RouteSelection) {
                <app-direction-meanlatency-route-selection [directionData]="selectedDirection" (selectSettings)="selectComponent($event)"/>
            }
            @case (ChildComponents.WeekdaySelection) {
                <app-weekdays-selection (selectSettings)="selectComponent($event)"/>
            }
            @default {
                <button (click)="selectComponent(ChildComponents.RouteSelection)">route</button>
                <button (click)="selectComponent(ChildComponents.WeekdaySelection)">weekdays</button>
                <div class="navigation-buttons">
                    <app-navigation-buttons
                        [nextDisabled]="false"
                        [nextButtonLabel]="'Gotowe'"
                        (next)="false"
                        (previous)="navigateToDirectionAnalysisOptions()"/>
                </div>
            }
        }
    }
</div>
