.stops-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.stops-select, .time-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.select {
    width: 100%;
}

.swap-direction {
    margin-bottom: 20px;
}

.stop-selection-component {
    position: relative;
    height: 100%;
}

.navigation-buttons {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
