.stops-select,
.stops-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.stops-select {
    width: 80%;
}

.select {
    width: 100%;
}

.swap-direction {
    margin-bottom: 20px;
}
