<div class="stops-container">
    <h4>Wybór przystanków</h4>
    <div class="stops-select">
        <mat-form-field class="select">
            <mat-label>Przystanek początkowy</mat-label>
            <mat-select [(value)]="startIndex">
                <mat-option *ngFor="let stop of stopsInfo; let i = index" [value]="i" [disabled]="i >= endIndex">{{stop.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-icon-button matTooltip="Odwróć kierunek" (click)="swapDirection()" class="swap-direction">
            <mat-icon class="swap-icon">swap_vert</mat-icon>
        </button>
        <mat-form-field class="select">
            <mat-label>Przystanek końcowy</mat-label>
            <mat-select [(value)]="endIndex">
                <mat-option *ngFor="let stop of stopsInfo; let i = index" [value]="i" [disabled]="i <= startIndex">{{stop.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="time-select">
        <mat-form-field class="select">
            <mat-label>Wprowadź zakres dni do analizy</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Data początkowa">
                <input matEndDate placeholder="Data końcowa">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>
    <button mat-raised-button (click)="navigateToResults()">Dalej</button>
</div>