.stops-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.select {
    width: 100%;
}

.stops-select, .time-select {
    width: 80%;
}

.swap-direction {
    margin-bottom: 20px;
}
