@use '@angular/material' as mat;
@include mat.core();
@import '../../styles.scss';

#steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    bottom: 0;

    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 470px) {
        padding: 0 10px;
    }
}

#steps button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background-color: white;
    outline: 6px solid white;
}

#steps > .active-step {
    background-color: mat.get-theme-color($_palettes, primary, 98);
    border: 1px solid mat.get-theme-color($_palettes, primary, 60);
}

#steps .mat-icon {
    font-size: 29px;
    padding-bottom: 6px;
    padding-right: 4px;
}

#steps .nav-text {
    font-size: 12px;
    margin-bottom: 2px;
}

#steps-line {
    margin-top: -40px;
    height: 40px;
    display: block;
    position: relative;
    border-top: 2px dashed mat.get-theme-color($_palettes, primary, 40);
    z-index: -1;

    max-width: 450px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 470px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}
