<section id="welcome-screen">
    <div id="welcome-main-content">
        <h1 id="app-title">jak<span>nie</span>dojade</h1>
        <h3 id="welcome-text">Analiza i wizualizacja danych o opóźnieniach warszawskich autobusów </h3>
        <button class="welcome-button" mat-flat-button [routerLink]="['/search']">Zaczynamy</button>
        <button class="welcome-button" mat-stroked-button [routerLink]="['/about']">O projekcie</button>
    </div>
    <footer>
        Źródło danych: Miasto Słoneczne Warszawa - otwarte dane po warszawsku (https://api.um.warszawa.pl)<br>
        Data pozyskania informacji publicznej<br>
        Pierwszego: data_pierwszych_danych_z_bazy<br>
        Ostatniego: data_ostatnich_danych_z_bazy
    </footer>
</section>

