<div class="about-us">
    <h1 id="app-title">jak<span>nie</span>dojade</h1>

    <p>Jakniedojade to pierwsza na rynku aplikacja internetowa służąca do analizy zgodności z rozkładem jazdy autobusów warszawskiej komunikacji miejskiej. Do utworzenia analizy wykorzystywane są otwarte dane udostępniane przez miasto, na podstawie których tworzona jest symulacja ich przejazdów. Śledzi ona każdy autobus w mieście i zapisuje jego opóźnienia na poszczególnych przystankach na trasie. Wygenerowane w taki sposób wyniki służą również do utworzenia "statystycznie rzeczywistych" rozkładów jazdy. A wszystko to dostępne jest do wglądu w aplikacji internetowej!
    
        Początki projektu sięgają czerwca 2024 roku na SGGW w Warszawie, gdzie wśród studiujących tam osób wyłonił się ambitny i gotowy do działania zespół złożony z ekspertów w poszczególnych dziedzinach analizy danych i tworzenia aplikacji internetowych. Dzięki długotrwałej współpracy oraz wierze w sukces oraz przyszłą przydatność przedsięwzięcia, udało się utworzyć kompletnie od zera skomplikowany system do analizy dużej ilości danych, który na dodatek jednocześnie prezentuje je w przystępny dla zwykłego użytkownika sposób.
        
        Nasz zespół:
        Paweł Hebda
        Wojciech Twarowski
        Szymon Grzywna
        Dawid Maliszewski
        
        Pozostali twórcy:
        Marcin Galewski
        Izabela Kołodziejska
        Piotr Lewandowski
        Adam Roplewski
        
        Kody źródłowe:
        - link do githuba web gui
    </p>
</div>
<button mat-stroked-button [routerLink]="['/']">Wróć</button>
