@use '../../../../mixins.scss' as *;
@use '@angular/material' as mat;

.pole-analysis-type-selection-component {
    @include full-height-component;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    & > header {
        display: flex;
        flex-direction: column;
        padding: 0 16px;

        h2 {
            display: block;
            background-color: var(--sys-primary);
            color: white;
            font-size: 24px;
            line-height: 28px;

            width: fit-content;
            height: fit-content;
            border-radius: 10px;
            padding: 4px 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            mat-icon {
                margin-right: 3px;
            }

            & > span {
                margin-right: 8px;
            }
        }

        h3 {
            font-size: 20px;
            line-height: 20px;
        }
    }
}

#selection-buttons-container {
    padding: 0 16px;
}

.selection-button {
    border: 1px solid #8D9387;
    border-radius: 16px;
    padding: 8px 16px;
    margin: 10px 0;
    cursor: pointer;

    .selection-header {
        width: fit-content;
        padding: 4px 8px;
        border-radius: 5px;
        background-color: var(--sys-primary);
        color: white;
        margin-bottom: 7px;
        font-size: 15px;
    }

    &.selected {
        background-color: var(--sys-primary);
        color: white;

        .selection-header {
            padding: 4px 0;
        }
    }

    font-size: 13px;
    line-height: 15px;
}

.gray-disabled-button {
    background-color: #e2e3e2;
    color: #969696;
    cursor: not-allowed;
    pointer-events: none;
}

.navigation-buttons {
    @include navigation-buttons;
}
