<div class="pole-analysis-type-selection-component">
    @if (selectedDirectionFromRoute$ | async; as selectedDirection) {
        <header>
            @if (lineIcon$ | async; as lineIcon) {
                <h2><mat-icon>{{ lineIcon }}</mat-icon><span>{{ routeLine }}&nbsp;|</span>{{selectedDirection.headsign}}</h2> 
                <h3>Wybierz rodzaj analizy</h3>
            }
        </header>
        <div id="selection-buttons-container">
            <div class="selection-button"
                matRipple
                [matRippleCentered]="true"
                [matRippleDisabled]="false"
                [matRippleUnbounded]="false"
                (click)="selectedAnalysisType.set(enum.RealSchedule)"
                [class.selected]="selectedAnalysisType() === enum.RealSchedule">
                <div class="selection-header">
                    Rzeczywisty rozkład przejazdu
                </div>
                Zobacz jak autobusy linii {{routeLine}} opóźniają się między przystankami dla wybranego przejazdu tej linii.
            </div>

            <div class="selection-button"
                matRipple
                [matRippleCentered]="true"
                [matRippleDisabled]="false"
                [matRippleUnbounded]="false"
                (click)="selectedAnalysisType.set(enum.MeanLatency)"
                [class.selected]="selectedAnalysisType() === enum.MeanLatency">
                <div class="selection-header">
                    Analiza statystyczna trasy
                </div>
                Wybierz trasę linii {{routeLine}} i zobacz wyniki analizy statystycznej opóźnień (w tym średnią, medianę i kwantyle)
            </div>
        </div>
    }
    <div class="navigation-buttons">
        <app-navigation-buttons
            [nextDisabled]="selectedAnalysisType() === enum.None"
            (next)="selectedAnalysisType() === enum.RealSchedule ? navigateToRealScheduleSettings() : navigateToMeanLatencySettings()"
            (previous)="navigateToDirectionSelection()"/>
    </div>
</div>