<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name=”Redirect to WWW” stopProcessing=”true”>
          <match url=”.*” />
          <conditions>
            <add input=”{HTTP_HOST}” pattern=”^jakniedojade.waw.pl$” />
          </conditions>
          <action type=”Redirect” url=”https://www.jakniedojade.waw.pl/{R:0}”
          redirectType=”Permanent” />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>